.card {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.card:not(.card:last-of-type) {
  border-bottom: 1px solid hsl(0, 0%, 90%);
  margin: 0.5rem 0 2.5rem;
}

.card__image {
  align-self: center;
  border-radius: 5px;
  height: auto;
  margin-bottom: 20px;
  max-width: 100%;
  min-height: 150px;
  object-fit: cover;
}

.card__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
}

.card__location {
  align-items: center;
  display: flex;
}

.location__icon {
  height: 1rem;
  margin-right: 5px;
}

.location__country {
  letter-spacing: 1px;
  line-height: 12px;
  margin-right: 12px;
  text-transform: uppercase;
}

.location__link {
  color: hsl(255, 5%, 60%);
  font-size: 12px;
  text-decoration: underline;
}

.card__title {
  font-size: 2rem;
  font-weight: 700;
  margin: 0.75rem 0;
}

.card__date {
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.card__description {
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .card {
    flex-direction: row;
  }

  .card__image {
    margin-right: 20px;
    max-width: 125px;
  }
}
