.header {
  align-items: center;
  background-color: hsl(0, 90%, 65%);
  color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  min-height: 55px;
}

.header__image {
  margin-right: 5px;
}

.header__title {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}
